<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">
    <test name="jsonplaceholder.typicode.com">
        <classes>
            <class name="jsonplaceholder.typicode.com.tests.ApacheHttpClientUsersTest"/>
            <class name="jsonplaceholder.typicode.com.tests.RestAssuredUsersTest"/>
            <class name="jsonplaceholder.typicode.com.tests.RestTemplateUsersTest"/>
        </classes>
    </test>

    <test name="google.gist">
        <classes>
            <class name="google.gist.tests.SimpleGetTest"/>
            <class name="google.gist.tests.StarGistTest"/>
            <class name="google.gist.tests.CRUDGistTest"/>
        </classes>
    </test>
</suite>